.button{
	text-align:center;
	border: 2px solid #FF0000;

	background: #FFAA00;
	padding: 10px;
}
#helpbutton{
	border: 2px solid #FF0000;
	border-radius: 20px;
	background: #AAFF11;
}
#help{
	text-align:center;
	position: absolute;
	display: none;
	background: #eee;
	border: 5px solid #888;
	border-radius: 20px;
	top: 20px;
	left: 20px;
	width: 430px;
	height: 430px;
}
.label{
	font-size: 16px;
}
#discription{
	text-align: center;
}
#result_title{
	font-size:32px;
	color:#fff;
}
.result_num{
	font-size:20px;
	color:#fff;
	width:120px;
	text-align:center;
}

.result_type{
	font-size:20px;
	color:#fff;
	width:120px;
	text-align:left;
}

.result_score{
	font-size:20px;
	color:#fff;
	width:120px;
	text-align:right;
}
.result_all{
	font-size:26px;
	color:#fff;
	width:240px;
	text-align:center;
}

.result_button{
	width:120px;
	height:32px;
	line-height:32px;
	text-align:center;
	font-size:16px;
	color:#333;
	background-color:#fff;
	opacity:1;
	border-radius: 3px;
}
.copyright{
	position: absolute;
	font-size: 5px;
	right: 10px;
	bottom: 10px;
	text-align: left;
}