body{
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Arial,Verdana,"ＭＳ Ｐゴシック",sans-serif;
	background-color: #eee;
	margin:auto;
}


#enchant-stage{
	width: 480px;
	margin:auto;
}

#content{
	width:480px;
	margin:auto;
	text-align: center
}

.text{
	background-color:#ccc;
	border-radius: 10px;
	padding:10px;
}